* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(1, 0, 10);
    background: linear-gradient(90deg, rgb(8, 8, 65) 0%, rgba(102, 0, 255, 1) 78%, rgba(0, 212, 255, 1) 100%);
}


header {
    background-color: rgb(47, 2, 114);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}

.logo {
    margin-left: 50px;
    color: rgb(253, 253, 255);
    font-size: 50;
    
}
.nav-bar {
    margin-right: 50px;
}
.list-container {
    display: flex;
    gap: 30px;
    list-style: none;
}

.element {
    color: #FFF;
    text-decoration: none;
    font-weight: 21.25rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    transition: 0.3s;
}
.element:hover{
    color: rgb(8, 168, 8);
}
.section1 {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 div h1 {
    color: orange;
    font-size: 4rem;
    margin-bottom: 100px;

}
