@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}


header {
    position: fixed;
    background-color: rgb(47, 2, 114);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

}

.logo {
    font-family: 'Pacifico', cursive;
    margin-left: 50px;
    color: rgb(253, 253, 255);
    font-size: 50;

}

.nav-bar {
    margin-right: 50px;
}

.list-container {
    display: flex;
    gap: 30px;
    list-style: none;
}

.element {
    color: #FFF;
    text-decoration: none;
    font-weight: 21.25rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    transition: 0.3s;
}

.element:hover {
    color: rgb(8, 168, 8);
}

#section1,
#section2,
#section3,
#section4 {
    width: 100%;
    height: 100vh;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(8, 8, 65) 0%, rgba(102, 0, 255, 1) 78%, rgba(0, 212, 255, 1) 100%);
}

.wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 250px;
}

.text {
    color: #FFF;
    font-weight: bolder;
    font-family: monospace;

}

.welcome {
    font-size: 3rem;

}

.whoami {
    font-size: 4rem;
}

.ican {
    font-size: 5rem;
}

#section4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.473);
}

.contact,
.message {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 50%;
}

.inputfield {
    background-color: rgb(0, 0, 0);
    padding: 5px 15px;
    width: 95%;
    height: 5%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.messages {
    width: 95%;
    height: auto;
    padding: 10px 15px;
}

